<?php echo $this->doctype(); ?>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Akkurate - Procédure d'installation</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
    </head>
    <body>
        <div class="container" style="padding-top:20px;">
            <h1>Akkurate - Procédure d'installation</h1>
            <?php echo $this->partial('partials/alert.phtml', array('message' => $this->message)); ?>   
            <?php echo $this->partial('partials/breadcrumb.phtml', array('template' => $this->template)); ?>   
            <?php echo $this->partial('partials' . DS . $this->template . '.phtml', array('params' => $this->params)); ?>   
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
        <script>
            $(document).ready(function () {
                $("pre").each(function (i, e) {
                    hljs.highlightBlock(e);
                });
                $('#flashMessenger').modal('show');
            })
        </script>
    </body>
</html>