<ul class="nav nav-tabs nav-justified">
    <li <?php echo (!empty($this->template && $this->template == 'database')) ? 'class="active"': '';?>><a href="/?step=database">Base de données</a></li>
    <li <?php echo (!empty($this->template && $this->template == 'routes')) ? 'class="active"': '';?>><a href="/?step=routes">Routes & URLs</a></li>
    <li <?php echo (!empty($this->template && $this->template == 'end')) ? 'class="active"': '';?>><a href="/?step=end">Fin</a></li>
</ul>