<h2>Base de données</h2>
<p>Renseigner les informations ci-dessous pour générer le fichier database.ini, créer la base de données, les tables et insérer les données nécessaires au démarrage de l'environnement Akkurate.</p>
<form method="post">
    <div class="form-group">
        <label for="multidbname">Multidb Name (adapter)</label>
        <input type="text" name="multidbname" id="multidbname" class="form-control" value="<?php echo (!empty($this->params->multidbname)) ? $this->params->multidbname : '';?>" required />
        <small class="help-block">Pour mettre un contenu ou plus de précisions sur le champ</small>
    </div>
    <div class="form-group">
        <label for="host">Host</label>
        <input type="text" name="host" id="host" class="form-control" value="<?php echo (!empty($this->params->host)) ? $this->params->host : '';?>" required />
    </div>
    <div class="form-group">
        <label for="dbname">Nom de la base</label>
        <input type="text" name="dbname" id="dbname" class="form-control" value="<?php echo (!empty($this->params->dbname)) ? $this->params->dbname : '';?>" required />
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" name="username" id="username" class="form-control" value="<?php echo (!empty($this->params->username)) ? $this->params->username : '';?>" required />
            </div>       
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" class="form-control" value="<?php echo (!empty($this->params->password)) ? $this->params->password : '';?>" required />
            </div>  
        </div>
    </div>
    <hr />
    <div class="form-group text-right">
        <button type="submit" class="btn btn-lg btn-primary">Next</button>
    </div>
</form>
