<h2>Bravo !</h2>
<p>Vous avez terminé la mise en route d'Akkurate. Que souhaitez-vous faire maintenant ?</p>
<p>Pour pouvoir accèder à l'interface d'administration, vous devez obligatoirement retirer la librairie d'installation. Pour celà veuillez suivre la procédure indiquée ci-dessous.</p>
<p>
    1 - Ouvrez votre terminal et rendez-vous à la racine du projet.<br />
    <small class="help-block">La où se trouve les fichiers composer.phar & composer.json</small>
</p>
<p>
    2 - Entrez la commande suivante :
</p>
<pre><code class="shell">php composer.phar remove subvitaminetm/install</code></pre>
<hr />
<div class="text-center">
    <a href="/?step=redirect" class="btn btn-primary">Go to Synapse</a>
</div>