<h2>Routes & URLs</h2>
<p>Renseigner les informations ci-dessous pour générer le fichier routes.ini.</p>
<form method="post">
    <div class="form-group">
        <label for="domain">Url</label>
        <input type="text" name="domain" id="domain" class="form-control" value="<?php echo (!empty($this->params->domain)) ? $this->params->domain : '';?>" required />
        <small class="help-block">Pour mettre un contenu ou plus de précisions sur le champ</small>
    </div>
    <hr />
    <div class="form-group text-right">
        <button type="submit" class="btn btn-lg btn-primary">Next</button>
    </div>
</form>
